{
  "sourceMaps": true,
  "presets": ["@babel/preset-typescript"],
  "plugins": [
    [
      "@babel/plugin-transform-react-jsx",
      { "pragma": "Rinse", "pragmaFrag": "Rinse.Fragment" }
    ],
    "@babel/plugin-transform-modules-commonjs",
    "@babel/plugin-proposal-optional-chaining"
  ]
}
